@use '../../index.scss';

@keyframes open {
  0% {
    background: radial-gradient(circle, rgb(139 0 0) 39%, rgba(25, 24, 30, 1) 43%);
  }

  50% {
    opacity: 0;
    background: inherit;
  }

  100% {
    opacity: 1;
    background: radial-gradient(circle, rgb(1 139 0) 39%, rgba(25, 24, 30, 1) 43%);
  }
}

@keyframes close {
  0% {
    background: radial-gradient(circle, rgb(1 139 0) 39%, rgba(25, 24, 30, 1) 43%);
  }

  50% {
    opacity: 0;
    background: inherit;
  }

  100% {
    opacity: 1;
    background: radial-gradient(circle, rgb(139 0 0) 39%, rgba(25, 24, 30, 1) 43%);
  }
}

.cell {
  width: calc(100% / 7);
  max-height: 85px;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;

  @include index.desktop {
    font-size: 1.2rem;
    border: 1px solid #ffffff1f;

    &:hover {
      box-shadow: inset 0px 0px 20px 0px #000;
    }
  }
}

.inactive {
  cursor: default;
  pointer-events: none;
  background: inherit !important;
}

.open {
  background: radial-gradient(circle, rgb(1 139 0) 39%, rgba(25, 24, 30, 1) 43%);

  &_animation {
    animation: open 700ms forwards ease-in;
  }
}

.closed {
  background: radial-gradient(circle, rgb(139 0 0) 39%, rgba(25, 24, 30, 1) 43%);

  &_animation {
    animation: close 700ms forwards ease-in;
  }
}

.today {
  border: 1px solid var(--yellow);
}