@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');

$breakpoint--mobile: 640px;

@mixin desktop {
  @media (min-width: ($breakpoint--mobile + 1)) {
    @content
  }
};

@mixin mobile {
  @media (max-width: ($breakpoint--mobile)) {
    @content
  }
};

:root {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --mobile-width: 412px;
  --desktop-width: 1280px;
  --yellow: #f3cb38;
  --black: #19181e;
  --beige: #be9877;
  --montserrat: 'Montserrat', sans-serif;
  --error: #ff4949;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  max-width: var(--mobile-width);
  color: #fff;
  background: var(--black);
  font-size: 16px;
  line-height: 1.4;
  margin: auto;

  @include desktop {
    max-width: var(--desktop-width);
    scroll-padding-top: 85px;
  }
}

#error-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    color: var(--error);
  }
}

